//$icon-font-path: '../fonts/';

// bower:scss
// @import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
// @font-face {
//   font-family: 'Noto Serif';
//   font-style: italic;
//   font-weight: 700;
//   src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(https://fonts.gstatic.com/s/notoserif/v4/Wreg0Be4tcFGM2t6VWytvHNuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
// /* latin */
// @font-face {
//   font-family: 'Inconsolata';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Inconsolata'), url(https://fonts.gstatic.com/s/inconsolata/v12/BjAYBlHtW3CJxDcjzrnZCI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
// }
//@import url(https://fonts.googleapis.com/css?family=Lato);
//@import url(https://fonts.googleapis.com/css?family=Inconsolata);
//@import url(https://fonts.googleapis.com/css?family=Noto+Serif:700italic);
@import url(https://fonts.googleapis.com/css?family=Lato|Inconsolata|Noto+Serif:700);
@import 'reset.scss';

$font-family-heading: 'Noto Serif', serif;//Fugaz One', cursive;
$font-family-mono: 'Inconsolata', Courier;
$font-family-body: 'Lato', sans-serif;
$line-height: 1.15;
$font-size-scale-down: 0.5rem;
$font-size-scale-1: 2rem;
$font-size-scale-2: 3rem;
$length-base: $line-height * 1rem;

$color-body-bg: #002B36;
$color-body-fg: #839496;
$color-link: #D33682;
$color-code-bg: darken(#002B36, 5%);
$color-code-fg: #B58900;
$color-code-inline-fg: #E0E2E4;
$color-aside: #B58900;
$color-notification-bg: #121B28;
$color-notification-fg: #2AA198;
$color-notification-link: #8FB5E0;
$color-bright: #E0E2E4;
$color-quote: #657B83;
$color-subtitle: #2AA198;

$length-sentence: 39rem; 

body {
	font-family: $font-family-body;
	font-size: 100%;
	line-height: $line-height;
	padding: 5vmin;
	background-color: $color-body-bg;
	color: $color-body-fg;
}
::selection {
	color: #93A1A1;
	background-color: #073642;
}

h1 {
	font-size: $font-size-scale-2;
	font-family: $font-family-heading;
}
h2,h3,h4,h5,h6 {
	font-size: $font-size-scale-1;
	font-family: $font-family-heading;
}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
.notificationBlock {
	background-color: $color-notification-bg;
	color: $color-notification-fg;
	padding: 1em;
	text-align: center;
}
.notificationBlock a:link {
	color: $color-notification-link;
	font-weight: bold;
}
.browserupgrade {
	@extend .notificationBlock;
}

code {
	font-family: $font-family-mono;
}

.container {
	margin: 0 auto;
	max-width: $length-sentence * 1.2;
}

.header {
	display: flex;
}
.logo {
	h1 {
		color: $color-bright;
	}
	p {
		color: $color-subtitle;
		font-style: italic;
	}
}
.menu {
	display: flex;
	flex-grow:1;
	margin-top: $length-base * 3;
	justify-content: space-around;
}
.menu > .item {
	width: 50%;
}
.menu > .navItem {
	font-family: $font-family-mono;
	text-align: center;
	font-weight: bold;
	&:after {
		content: '';
		box-sizing: border-box;
		height: $length-base;
		border-bottom: $color-link ($length-base / 4) solid;
		margin: 0 $length-base;
		display: block;
	}
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color: $color-link;
}
a:hover, a:active, {
	color: lighten($color-link, 8%);
}
.content {
	display: flex;
	flex-wrap: wrap;
	margin-top: $length-base * 3;
	> .item {
		width: 50%;
		box-sizing: border-box;
		// flex-grow: 1;
		padding: 0 ($length-base);
		margin-bottom: ($length-base * 2);
		position: relative;
		// &:after {
			// content: '';
			// position: absolute;
			// height: 100%;
			// width: ($length-base * 2);
			// background-color: black;
			// top: 0;
			// right: -($length-base * 1);
		// }
		> a {
			> .date, .item-title, .teaser-line {
				font-family: $font-family-mono;
				font-size: 1rem;
			}
			> .item-title {
				text-decoration: none;
				color: $color-body-fg;
				font-size: $font-size-scale-1;
				font-family: $font-family-heading;
			}
			> .date {
				color: $color-aside;
			}
			> .teaser-line {
				color: $color-quote;
				font-style: italic;
				font-family: $font-family-body;
				&:before {
					content: '“';
				}
				&:after {
					content: '...”';
				}
			}
		}
	}
	> .item:nth-child(odd) {
		text-align: right;
	}
	> .item:nth-child(even) {
		position: relative;
		top: $length-base * 3;
	}
	> .profile, .article {
		margin: 0 auto;
		max-width: $length-sentence;
		> blockquote > p {
			font-style: italic;
			padding: 0 $length-base;
			box-sizing: border-box;
			border-left: ($length-base / 4) solid $color-body-fg; 
		}
		> p code {
			color: $color-code-inline-fg;
		}
		> p, h1, pre, ol, ul, blockquote {
			margin-bottom: $length-base * 2;
		}
		> pre {
			white-space: pre-wrap;
			padding: ($length-base);
			background-color: $color-code-bg;
			color: $color-code-fg;
			border-radius: 0.5rem;
		}
		> h2, h3, h4, h5, h6 {
			margin-bottom: $length-base;
		}
		> .articleTitle {
			margin-bottom: $length-base;
		}
		> .posted-on-date {
			color: $color-aside;
			font-family: $font-family-mono;
			margin-bottom: $length-base * 2;
		}
	}
	> .profile {
		h3, h4, h5, h6 {
			font-size: 1rem;
		}
	}
}

@media (max-width: 47em) {
	.header {
		flex-wrap: wrap;
	}
	.logo {
		width: 100%;
	}
	.menu {
		margin-top: $length-base;
	}
	.menu > .item {
		display: none;
	}
	.menu > .item.navItem {
		display: block;
	}
	.content {
		flex-wrap: wrap;
	}
	.content > .item.item {
		width: 100%;
		top: 0;
		text-align: left;
	}
}

.portfolio-samples {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	li {
		margin: 0.5rem;
		border: 1px dotted $color-body-fg;
		img {
			display: block;
			border: none;
		}
	}
}

ol.restyled, ul.restyled, .article > ul, .article > ol {
	padding-left: $length-base;
	li {
		padding-left: $length-base;
		position: relative;
	}
	li:before {
		content: '•';
		display: block;
		position: absolute;
		left: -0.25rem;
	}
}

.work-experience-item {
	margin: $length-base 0;
	> .time-span {
		color: $color-aside;
	}
	> .company {
		color: $color-bright;
	}
}
.profile-picture {
	float: right;
	width: 33%;
	border-radius: 1rem;
	box-shadow: 0 0 1rem $color-code-bg;
	margin: $length-base;
}