{% extends 'layout.html' %}

{% block title %}{{ page.title }} - {{ site.title }}{% endblock %}

{% block content %}
<div class="article">
<h1 class="articleTitle">{{ page.title|safe }}</h1>
<div class="posted-on-date">Posted on {{page.date.getFullYear()}}-{{page.date.getMonth() + 1}}-{{page.date.getDate()}}</div>
{{ content|safe }}
</div>
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = 'http://positor.nl{{page.url}}';
this.page.identifier = '{{page.basename}}';
};
(function() {
var d = document, s = d.createElement('script');
s.src = 'https://positor-blog.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
{% endblock %}