<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }} &bull; {% endif %}Supposed Knowledge </title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link rel="icon" href="/images/favicon.png" type="image/png">
	<link rel="apple-touch-icon" href="/images/favicon.png">
	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div><img src="/images/supp_shew.png" alt="Supposed Knowledge"/></div>
        <p>My (mostly Java) web development blog</p>
        <p class="view"><a href="https://twitter.com/ArenCawk">@ArenCawk</a></p>
		
		<h2>Entries...</h2>
		{% for it_post in site.posts %}
			<div><a href="{{ it_post.url }}">{{ it_post.title }}</a></div>
		{% endfor %}
      </header>
      <section>
		{% include post_details.html %}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-19252179-3', 'supposed.nl');
	  ga('send', 'pageview');
	</script>

  </body>
</html>